.markerPlace {
  background-image: url('../assets/markerStrong1.svg');
  /*background-image: url('assets/Place.png');*/
  background-size: cover;
  width: 20px;
  height: 40px;
  border-radius: 5%;
  cursor: pointer;
}
.markerOrg {
  background-image: url('../assets/markerStrong2.svg');
  background-size: 'cover';
  width: 20px;
  height: 40px;
  cursor: pointer;
}
.markerProject {
  background-image: url('../assets/markerStrong3.svg');
  background-size: cover;
  width: 20px;
  height: 40px;
  cursor: pointer;
}
